
/* ---------------------------------- */
/* Root                             */
/* ---------------------------------- */

:root {
    /* colors */
    --clr-white : #dad8d8;
    --clr-grey-light : #4c4a60;
    --clr-grey-medium : #282737;
    --clr-grey-dark: #201F2C;
    --clr-grey-black: #18181E;
    --clr-pink: #E03058;
    --clr-orange : #EF832C;

    /* font-sizes */
    --fs-big: 8rem;
    --fs-900: 2.5rem;
    --fs-800: 2.1rem;
    --fs-700: 1.8rem;
    --fs-600: 1.5rem; /* 24px */
    --fs-500: 1.24rem; /* 20px */
    --fs-400: 1rem; /* 17px */
    --fs-300: 0.9rem;
    --fs-200: 0.75rem;

    /* font-families */
    --ff-quickSand: 'Quicksand', sans-serif;
}

@media (min-width: 35em) { /*560px*/
}

@media (min-width: 45em) { /*720px*/
}

/* ---------------------------------- */
/* Reset                              */
/* ---------------------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

/* &---------------------------------- */
/* & GENRE /      --                   */
/* & --------------------------------- */


.container {
    width: 65%;
    height: 100%;
    /* background-color: #483dc0; */
    margin: 4rem auto 0px auto;
    /* display: flex;
    flex-direction: column; */
}

.container-genre .list {
    width: 100%;
    /* height: 22rem; */
    background-color: var(--clr-grey-light);
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-radius: 1rem;
    grid-gap: 1.8rem;
    padding: 2rem;
}

.container-genre .card {
    /* width: 200px; */
    height: 22rem;
    /* background-color: #E03058; */
    border-radius: 1rem;
   
}

.container-genre figure {

    border-radius: 1rem;
    overflow: hidden;
}




.container-genre img {
    object-fit: cover;
    width: 100%;
    width: 150%;
}

.container-genre .info {
    width: 100%;
    height: 20%;
    padding: 0.5rem 0 0 0;
    /* background-color: #252c23; */
}

.container-genre .info p:nth-child(1) a {
    text-decoration: none;
    color: var(--clr-white);
    font-weight: 500;
    font-size: var(--fs-400);
}

.container-genre .info p:nth-child(2) a {
    text-decoration: none;
    color: rgba(218, 216, 216, 0.7);
    /* font-weight: 500; */
    font-size: var(--fs-400);
}

.container-genre .info p a:hover {
    color: var(--clr-pink);

}


/* -----------------------------HOVER EFFECT */

.container-genre .poster {
    width: 100%;
    height: 80%;
    border-radius: 1rem;
    background-color: #d1a1ac;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.container-genre .poster::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, var(--clr-pink), var(--clr-orange));
    opacity: 0; 
    transition: ease-in-out 0.4s; 
    pointer-events: none; /* Désactive les interactions pointer sur le pseudo-élément */
    
}

.container-genre .poster:hover::before {
    opacity: 0.7; 
}


/* ------------------------------------------- */

.container-genre .poster::after {
    content: "\f144"; /* Code Unicode pour l'icône Font Awesome */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centre l'icône au milieu de l'image */
    font-family: 'Font Awesome 6.4.0', FontAwesome; /* Utilise la police Font Awesome */
    font-size: 3rem; 
    color: white; 
    opacity: 0;
    transition: ease-in-out 0.4s;
    pointer-events: none; /* Désactive les interactions pointer sur le pseudo-élément */
}

.container-genre .poster:hover::after {
    opacity: 0.7; 
}




/* &---------------------------------- */
/* & ACTOR / REAL / MOVIE    --        */
/* & --------------------------------- */

.container_detail {
    width: 65%;
    height: 100vh;
    margin : 4rem auto 0px auto;
    display: flex;
    flex-direction: column;
}

.container_detail h2 {
    font-size: var(--fs-900);
}

.detail {
    width : 65%;
    margin-top: 1.5rem;
    display: grid;
    grid-template-areas: 
    "img info "
    "img info "
    "description description ";
    grid-template-rows: 75% 1fr 25%;
    grid-template-columns: 43% 1fr;
}

.detail .image{
    grid-area: img;
    background-color: #74747c;
    border-radius: 1.4rem;
    overflow: hidden;
}

.detail figure{
    width: 20rem;
    height: 30rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}

.detail figure img{
    object-fit: cover;
    height: 120%;
    width: 150%;
} 

.detail .info{
    grid-area: info;
    padding-left: 2.4rem;
}

.container_detail .description {
    grid-area: description;
    margin-top: 0.8rem;   
}

.container_detail .description li {
    list-style-type: none;
    font-size: var(--fs-300);
    line-height: 1.5rem;
    font-size: var(--fs-400);
}

.container_detail  .description ul {
    list-style-type: none;
}

.listing ul {
    list-style-type: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--fs-500);
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;
    column-gap: 4rem;
}

/* ~ ACTOR------------------------- */


.container_actor .listing li {
    cursor: pointer;
}

.container_actor .listing li:hover {
    color: var(--clr-pink)
}

.container_actor .listing li.active {
    color: var(--clr-pink);
    border-bottom: 2px solid var(--clr-pink);
    padding-bottom: 0.5rem;
}


/* ~ ACTOR SWITCH ------------------------- */

/* FILM */
.list-role,
.list-filmo {
  display: none;
}

.list-filmo {
    /* background-color: #211f2c; */
    width: 100%;
    height: 100%;
    margin-top: 4rem;
    padding-bottom: 0.8rem;   
}


.list-filmo .movie-detail {
    /* background-color: #b98d5a; */
    /* width: 100%;
    height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-grey-light);
    padding-bottom: 0.8rem;
    margin-bottom: 1.2rem;
    

}

.list-filmo .movie-detail  a {
    text-decoration: none;
    color: var(--clr-white);
    font-size: var(--fs-400);
    
}

.list-filmo .movie-detail  a:hover {
    color: var(--clr-pink);
    
}

/* ROLE */

.list-role {
    /* background-color: #211f2c; */
    width: 100%;
    height: 100%;
    margin-top: 4rem;
}


.list-role .movie-detail {
    /* background-color: #b98d5a; */
    /* width: 100%;
    height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-grey-light);
    padding-bottom: 0.8rem;
    margin-bottom: 1.2rem;
    overflow: hidden;
}


.list-role .movie-detail  a {
    text-decoration: none;
    color: var(--clr-white);
    font-size: var(--fs-400); 
}

.list-role .movie-detail  a:hover {
    color: var(--clr-pink);
    
}

.list-role .text-colored a {
    color: var(--clr-pink);

}

.list-role .text-colored a:hover {
    color: var(--clr-orange);

}


/* ~ REAL---------------------------------- */

.list-filmo_real {
    width: 100%;
    height: 100%;
    margin-top: 4rem;
    padding-bottom: 0.8rem;  
}

.list-filmo_real .movie-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-grey-light);
    padding-bottom: 0.8rem;
    margin-bottom: 1.2rem;
}


.movie-detail p {
    color: var(--clr-white);
    font-size: var(--fs-400);
}

.container_director .movie-detail  a {
    text-decoration: none;
    color: var(--clr-white);
    font-size: var(--fs-400);
}

.container_director .movie-detail  a:hover {
    color: var(--clr-pink);
}



/* ~ MOVIE -------------------------------- */


.container_movie .detail {
    grid-template-areas: 
    "img info "
    "img crew "
    "storyline storyline ";
    line-height: 1.5rem;
}


.container_movie .info{
    font-size: var(--fs-400);
    position: relative;
    overflow: hidden;
}
.container_movie .info li{
    list-style-type: none;
}

.container_movie .crew {
    width: 100%;
    grid-area: crew;
    margin-top: 1.8rem;
    position: absolute;
    bottom: 0;
}

.container_movie .crew li a {
    text-decoration: none;
    color: var(--clr-pink);
}

.container_movie .crew li a:hover {
    color: var(--clr-orange);
}

.container_movie .description a {
    color: var(--clr-pink);
    text-decoration: none;
}

.container_movie a:hover {
    color: var(--clr-orange);
}

.container_movie .storyline {
    grid-area: storyline;
    margin-top: 1.5rem;  
}

.storyline textarea {
    background-color:transparent;
    width: 100%;
    height: 80%;
    border: none;
    color: var(--clr-white);
    font-size: var(--fs-300);
    resize: none;
    margin-top: 0.2rem;
    padding: 0 0.8rem  0 0;
    cursor : default;
}

.container_movie .storyline p:nth-child(2) {
    font-size: var(--fs-200);
    padding-top: 0.8rem;
}


textarea::-webkit-scrollbar {
    width: 0.5em;

}

textarea::-webkit-scrollbar-track {
    background-color: var(--clr-grey-black);
    border-radius: 2rem;

}

textarea::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--clr-pink), var(--clr-orange));
    border-radius: 2rem;


}


/* ~ MEDIA QUERY ------------------------- */


@media (max-width: 1200px) { 
  
    .detail {
        width: 100%;
        margin-top: 1.5rem;
        display: grid;
        grid-template-areas:
            "img "
            "description"
            "info  "
            ;
        grid-template-rows: 50% 1fr 30%;
        grid-template-columns: 100% 1fr;
    }

    .detail .info {
        grid-area: info;
        padding-left: 0;
    }

    .container_movie .detail {
        grid-template-areas:
            "img "
            "info"
            "crew"
            "storyline ";
        line-height: 1.5rem;
    }

    .container_movie .detail {
        width: 100%;
        margin-top: 1.5rem;
        display: grid;
        /* grid-template-areas:
            "img "
            "description "
            "info "; */
        grid-template-rows: 50% 1fr 0%;
        grid-template-columns: 51% 1fr;
    }
 
}

@media (max-width: 800px) {
    
    .detail {
        width: 100%;
        margin-top: 1.5rem;
        display: grid;
        grid-template-areas:
            "img "
            "description"
            "info  "
            ;
        grid-template-rows: 50% 1fr 30%;
        grid-template-columns: 100% 1fr;
    }

    .detail .info {
        grid-area: info;
        padding-left: 0;
    }

    .container_movie .detail {
        grid-template-areas:
            "img "
            "info"
            "crew"
            "storyline ";
        line-height: 1.5rem;
    }

    .container_movie .detail {
        width: 100%;
        margin-top: 1.5rem;
        display: grid;
        /* grid-template-areas:
            "img "
            "description "
            "info "; */
        grid-template-rows: 45% 1fr 0%;
        grid-template-columns: 80% 1fr;
    }


}