/* ---------------------------------- */
/* Root                             */
/* ---------------------------------- */

:root {
    /* colors */
    --clr-white : #dad8d8;

    --clr-grey-light : #4c4a60;
    --clr-grey-medium : #282737;
    --clr-grey-dark: #201F2C;
    --clr-grey-black: #18181E;

    --clr-pink: #E03058;
    --clr-orange : #EF832C;


    /* font-sizes */
    --fs-big: 8rem;
    --fs-900: 3rem;
    --fs-800: 2.1rem;
    --fs-700: 1.8rem;
    --fs-600: 1.5rem; /* 24px */
    --fs-500: 1.24rem; /* 20px */
    --fs-400: 1rem; /* 17px */
    --fs-300: 0.9rem;
    --fs-200: 0.75rem;

    /* font-families */
    --ff-quickSand: 'Quicksand', sans-serif;
}



@media (min-width: 35em) { /*560px*/
}

@media (min-width: 45em) { /*720px*/
}

/* ---------------------------------- */
/* Reset                              */
/* ---------------------------------- */


/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
    /* font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    background-color: hsl(var(--clr-dark));
    color: hsl(var(--clr-white));
    line-height: 1.5; 
    min-height: 100vh; 
    /* display: grid; 
    grid-template-rows: min-content 1fr;
    overflow-x: hidden; */
    background: linear-gradient(to bottom, var(--clr-grey-medium), var(--clr-grey-dark)); 
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* overflow: hidden; */
    overflow-x: hidden;
    font-family: var(--ff-quickSand);
    color: var(--clr-white);
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

/* ---------------------------------- */
/* Utility classes                    */
/* ---------------------------------- */

/* general */
.flex {
    display: flex;
    /* gap: var(--gap, 1rem); */
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: var(--gap, 1rem); */
}

.grid {
    display: grid;
    /* gap: var(--gap, 1rem); */
}


/* Colors*/

/* .bg-dark {background-color: hsl(var(--clr-dark));} */

/* .text-dark {color: var(--clr-dark);}
.text-white {color:var(--clr-white);}
.text-purple {color:var(--clr-purple);}
.text-dark-green {color:var(--clr-dark-green);} */



/* Typography */
.ff-nunito { font-family: var(--ff-nunito);} 

.uppercase { text-transform: uppercase;}

.letter-spacing-1 { letter-spacing: 9px;} 
.letter-spacing-2 { letter-spacing: 6px;} 
.letter-spacing-3 { letter-spacing: 3px;} 
.letter-spacing-4 { letter-spacing: 2px;} 
.letter-spacing-5 { letter-spacing: -3px;} 

/* .fs-big { font-size: var(--fs-big); }
.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); } */




/* &---------------------------------- */
/* & FORMS --                          */
/* & --------------------------------- */

.container_form {
    /* background-color: rgb(195, 193, 209); */
    width: 70%;
    /* height: 100vh; */
    margin: auto;
    margin-top: 5rem;
    display: flex;
    /* border-radius: 30px;
    overflow: hidden; */
}

.left_section {
    width: 80%;
    /* background-color: red; */
    
}

.left_section h1 {
    width: 100%;
    margin: auto;
    /* background-color: rgb(184, 163, 163); */
    margin-top: 8rem;
    font-size: 3rem;

}

.text-colored {
    color : var(--clr-pink)
}


.form_section {
    background-color: #302E40;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.form_section h2 {
    font-size: var(--fs-800);
    margin-top: 2rem;
}

.form_section h3 {
    font-size: var(--fs-600);
    color : var(--clr-pink);
  
}

.form_info {
    /* background-color: green; */
    width: 100%;
    padding: 2rem;
    
}



.form_info .info_input {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: #282737; */
    padding :  2rem 2rem 0 2rem;
    /* width: 40rem; */
    font-size: var(--fs-400);

    
}

.btn-submit {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    /* margin-top: 2rem; */


}


.form-input input {
    background-color: transparent;
    border : none;
    color : var(--clr-white);
    border-bottom: 1px solid var(--clr-grey-light);
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    
}

input:focus, textarea:focus, select:focus {
    outline: none;
}


.btn-submit input {
    background: linear-gradient(to right, var(--clr-pink), var(--clr-orange));
    color: var(--clr-white); 
    font-weight: 500;
    padding: 8px 35px; 
    border: none; 
    border-radius: 25px; 
    cursor: pointer; 
    text-transform: uppercase;
    transition: ease-in-out 0.2s;
}

.btn-submit input:hover {
    transform: scale(1.1);
}


::placeholder {
    color : var(--clr-white);
}

.input-images {
    margin: auto;
    padding: 2rem ;
}
.input_image {
    margin-bottom: 1rem;
}

#autorised-format {
    color: #b5b4bb;
    font-size: var(--fs-300);
}

textarea {
    background-color: transparent; 
    border: none;
    padding: 10px; 
    color: var(--clr-white);
    resize: vertical; 
    width: 100%; 
    min-height: 5rem;
}

.form-input-synopsys {
    margin: 2rem 2rem 0 2rem;
    /* background-color: #E03058; */
    border-bottom: 1px solid var(--clr-grey-light);;
    background-color: var(--clr-grey-medium)

}