
/* ---------------------------------- */
/* Root                             */
/* ---------------------------------- */

:root {

    /* font-sizes */
    --fs-big: 8rem;
    --fs-900: 2.5rem;
    --fs-800: 2.1rem;
    --fs-700: 1.8rem;
    --fs-600: 1.5rem; /* 24px */
    --fs-500: 1.24rem; /* 20px */
    --fs-400: 1rem; /* 17px */
    --fs-300: 0.9rem;
    --fs-200: 0.75rem;

    /* font-families */
    --ff-quickSand: 'Quicksand', sans-serif;
}

@media (min-width: 35em) { /*560px*/
}

@media (min-width: 45em) { /*720px*/
}

/* ---------------------------------- */
/* Reset                              */
/* ---------------------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}


input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}



/* &---------------------------------- */
/* & REGISTER / PROFIL     --          */
/* & --------------------------------- */

.userConn p a{
    color: var(--clr-white);
    text-decoration: none;
}

.register h1 {
    color: var(--clr-pink);
    text-align: center;
    padding-top: 0.8rem;;
}

.register .list {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border-top: 1px solid red; */
    position: relative;
    border-top: 1px solid var(--clr-pink);

}

/* .register .list::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    display: block;
    /* width: 90%; */
    /* background: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%); */
    /* box-shadow: 0 0 20px 0 rgba(255,88,96,0.5); */





/* .register form {
    display: flex;
    justify-content: center;
    flex-direction: column;
} */

.register input {
    background-color: var(--clr-grey-medium); 
    border: none;
    color: var(--clr-white);
    margin: 0.2rem 0px 0.8rem 0px;
    padding: 0.2rem;

    border-radius: 0.3rem;
}

.register #btn-register {
    display: flex;
    justify-content: center;
}

.register-input {
    /* background-color: #18181E; */
    width: 100%;
    height: 80%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    
}

.register form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.register #btn-register input {
    background: linear-gradient(to right, var(--clr-pink), var(--clr-orange));
    color: var(--clr-white);
    font-weight: 500;
    padding: 8px 35px;
    border: none;
    border-radius: 25px;
   
    cursor: pointer;
    text-transform: uppercase;
    transition: ease-in-out 0.2s;
    display: flex;
    justify-content: center;
}

.register #btn-register input:hover {
    box-shadow: 0 0 16px 0 rgba(255,88,96,0.3);
}

#logoutDelete {
    display: flex;
    gap:2rem;
    margin-top: 2rem;
}

#logoutDelete a  {
    color: var(--clr-white);
    text-decoration: none;
    /* background-color: #EF832C; */
}

#logoutDelete a:hover  {
    color: var(--clr-pink);

}

.user-profile p {
    padding:0.3rem;
    margin-top: 0.5rem;
    border-bottom: 1px solid var(--clr-grey-light)
    
}

.user-profile p span {
    font-weight: 800;
}


/* background-color: var(--clr-grey-medium); */
/* border-bottom: 1px solid var(--clr-grey-light); */



#sign-up {
    margin: 1rem 0; 
}

#sign-up span {
    font-size: var(--fs-500);
    cursor: pointer;
}

#sign-up span:hover {
    color: var(--clr-orange);
}

#sign-up a {
    text-decoration: none;
}

.theme-pref {

    display: flex;
    flex-direction: column;
    width: 37%;
    margin-top: 1rem;
    

}

.theme-pref #title {
    padding: 0.3rem;
    border-bottom: 1px solid var(--clr-grey-light);
    margin-bottom: 1rem;
    font-weight: 600;
}

.themes {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
}

.ratings-section {
    /* background-color: var(--clr-grey-light); */
    display: flex;
    
}

.ratings-section p {
    margin-bottom: 0.5rem;
}

.ratings-section a {
    color : var(--clr-white);
    text-decoration: none;
}

.ratings-section a:hover {
    color : var(--clr-pink);
}


.liste-notes {
    /* background-color: blueviolet; */
    width: 37%;
    border-bottom: 1px solid var(--clr-grey-light);
    margin-bottom: 1rem;
    padding: 0.3rem;
    display: flex;
    justify-content: space-between;
}

#submitRole {
    cursor: pointer;
}

#submitRole:hover  {
    color: var(--clr-orange);
}

#toggle-list {
    cursor: pointer;
}

.fa-power-off {
    color: var(--clr-orange);
}

#logoutDelete a:first-child:hover {
   color: var(--clr-orange);
}

#toggle-review {
    cursor: pointer;
}


/* & Liste reviews :-----------------*/

.liste-notes-film .review {
    /* background: linear-gradient(to bottom, #494762, #37354e); */
    background-color: #494762;
    padding : 1rem;
    margin-bottom: 0.8rem;
    border-radius:0.8rem;
    width: 45rem;
}

.liste-notes-film .review p:nth-child(1) {
    font-weight: 600;

}

.liste-notes-film .review p:nth-child(2) {
    font-size: var(--fs-300);

}