

/* ---------------------------------- */
/* Root                             */
/* ---------------------------------- */

:root {
    /* colors dark */
    /* --clr-white : #dad8d8;
    --clr-grey-light : #4c4a60;
    --clr-grey-medium : #282737;
    --clr-grey-dark: #201F2C;
    --clr-grey-black: #18181E;
    --clr-pink: #E03058;
    --clr-orange : #EF832C; */

     /* colors light*/
    /* --clr-white : #1c1c24;
    --clr-grey-light : #f9f9f9;
    --clr-grey-medium : #efefef;
    --clr-grey-dark: #d8dbdd;
    --clr-grey-black: #848495;
    --clr-pink: #c03f5d;
    --clr-orange : #EF832C; */


    /* font-sizes */
    --fs-big: 8rem;
    --fs-900: 2.5rem;
    --fs-800: 2.1rem;
    --fs-700: 1.8rem;
    --fs-600: 1.5rem; /* 24px */
    --fs-500: 1.24rem; /* 20px */
    --fs-400: 1rem; /* 17px */
    --fs-300: 0.9rem;
    --fs-200: 0.75rem;

    /* font-families */
    --ff-quickSand: 'Quicksand', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* colors dark */
        --clr-white : #dad8d8;
        --clr-grey-light : #4c4a60;
        --clr-grey-medium : #282737;
        --clr-grey-dark: #201F2C;
        --clr-grey-black: #18181E;
        --clr-pink: #E03058;
        --clr-orange : #EF832C;
    
    }
}
  

@media (prefers-color-scheme: light) {
    :root {
    
         /* colors light*/
        --clr-white : #1c1c24;
        --clr-grey-light : #f9f9f9;
        --clr-grey-medium : #efefef;
        --clr-grey-dark: #d8dbdd;
        --clr-grey-black: #848495;
        --clr-pink: #c03f5d;
        --clr-orange : #EF832C;

    }
  }

  :root.dark {
    /* colors dark */
    --clr-white : #dad8d8;
    --clr-grey-light : #4c4a60;
    --clr-grey-medium : #282737;
    --clr-grey-dark: #201F2C;
    --clr-grey-black: #18181E;
    --clr-pink: #E03058;
    --clr-orange : #EF832C;
  }

  :root.light {

     /* colors light*/
    --clr-white : #1c1c24;
    --clr-grey-light : #f9f9f9;
    --clr-grey-medium : #efefef;
    --clr-grey-dark: #d8dbdd;
    --clr-grey-black: #848495;
    --clr-pink: #c03f5d;
    --clr-orange : #EF832C;

  }





/* ---------------------------------- */
/* Reset                              */
/* ---------------------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

/* h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
} */

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

/* ---------------------------------- */
/* Utility classes                    */
/* ---------------------------------- */


/* set up the body */
body {
    background: linear-gradient(to bottom, var(--clr-grey-medium), var(--clr-grey-dark)); 
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* overflow: hidden; */
    overflow-x: hidden;
    font-family: var(--ff-quickSand);
    color: var(--clr-white);
    /* min-height: 100vh; */
    position: relative;
    /* display: flex; */
    
}


/* &---------------------------------- */
/* & TEMPLATE PAGE --                  */
/* & --------------------------------- */


/* ~ & Header / Nav ------------------ */

header {
    width: 100vw;
    height: 5em;
    background-color: var(--clr-grey-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: row; */
    padding: 0 8rem;
}

.logo {
    width: 16em;
    height: 4em;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 6em; */
} 

.logo img {
    object-fit: cover;
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
    font-size: var(--fs-600);
    
}

.primary-navigation {
    /* background-color: blue; */
    margin-right: 3em;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 25em;    
}

nav li  {
    list-style-type: none;
    display: inline;
}

nav a {
    text-decoration: none;
    color : var(--clr-white);
    font-size: var(--fs-600);
    transition: ease-in-out 0.3s;
}

nav ul li:nth-child(1) a:hover {
    color : #EF822C;
}

nav ul li:nth-child(2) a:hover {
    color : #EB6B38;
}

nav ul li:nth-child(3) a:hover {
    color : #E75842;
}

nav ul li:nth-child(4) a:hover {
    color : #E3444D;
}

nav ul li:nth-child(5) a:hover {
    color : #E03257;
}



/* 


nav .add_entity p {
    padding-right: 2rem;
    color: var(--clr-pink);
    font-weight: 900;
    cursor: pointer;
    transition: ease 0.3s;
}

nav .add_entity p:hover {
    
    color: var(--clr-orange);
    transform: scale(1.1);
    
} */

nav .add_entity {
    padding-right: 2rem;
    width: 300px;
}

#mySelect {
    border-color: var(--clr-grey-dark);
    background-color: transparent;
    font-family: var(--ff-quickSand);
    color: var(--clr-pink);
    /* border-radius: 3px; */

}



#mySelect option {
    /* Personnalisez l'apparence des options ouvertes */
    background-color: var(--clr-grey-dark); /* Couleur de fond pour les options ouvertes */
    color: var(--clr-white); /* Couleur du texte pour les options ouvertes */
    border: none;
    
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 2.1rem;
    color: var(--clr-pink);
    /* font-size: var(--fs-500); */
    cursor: pointer;
  }


  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--clr-grey-black);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content p:nth-child(1) a:hover {
    color: #EE812D;
}

.dropdown-content p:nth-child(2) a:hover {
    color: #EB6E37;
}

.dropdown-content p:nth-child(3) a:hover {
    color: #E9633D;
}

.dropdown-content p:nth-child(4) a:hover {
    color: #E75942;
}

.dropdown-content p:nth-child(5) a:hover {
    color: #E44A4A;
}

.dropdown-content p:nth-child(6) a:hover {
    color: #E13853;
}


/* ~ & search feature -------------- */


.nav-search {
    display: flex;
    background-color: #262630;
    font-size: var(--fs-300);
    display: flex;
    justify-content: space-between;
    width: 14em;
    padding: 0.2em 0.6em;
    border-radius: 17px 1px 1px 17px;
    border: 1px solid #737373;
}

.nav-search i {
    color: var(--clr-pink);
}

.search-feature {
    position: relative;
    z-index: 1;
    margin-right: 1.3rem;
    
}


.search-feature input{
    background-color: #262630;
    border: 1px solid #737373;
    border-radius: 10px;
    padding: 0.3em 0.6em;
    
    color: var(--clr-white);

    
    
}

.search-feature button{
    background-color: #262630;
    cursor: pointer;
    color: var(--clr-pink);
    border: none;
    padding: 0.3em 0.6em;
    /* border-radius: 0 10px 10px 0; */
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    right: 0.2rem;
    top: 0.2rem;
}

/* ~ & Sign In button ------------ */

#SignIn-btn {
    background: linear-gradient(to right, var(--clr-pink), var(--clr-orange));
    color: var(--clr-white);
    font-weight: 500;
    padding: 0.3rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    transition: ease-in-out 0.2s;
    display: flex;
    justify-content: center;
}

#SignIn-btn:hover {
    box-shadow: 0 0 16px 0 rgba(255,88,96,0.3);
}

#profile-btn {
    background: linear-gradient(to right, var(--clr-pink), var(--clr-orange));
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

#profile-btn:hover {
    box-shadow: 0 0 16px 0 rgba(255,88,96,0.3);
}


#profile-btn i {
    color: var(--clr-white);
}

/* ~ & Header / Nav ------------------ */

.switchTheme {
   color: var(--clr-white);
   cursor: pointer;

}


/* ~ & Footer ----------------- */

/* footer {
    background-color: var(--clr-grey-black);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 6em;
    font-size: var(--fs-400);

    display: flex;
    align-items: center;
} */



.text-highlight {
    color: var(--clr-pink);
}

main {
    padding-bottom: 3rem;
}




/* ~ Edit/delete btn------------------ */
.edit_delete {
    display: flex;
    justify-content: space-between;
    width: 2.5rem ;
    margin-top: 0.8rem;
}
.edit_delete a{
    color: var(--clr-white);
}
.edit_delete > div:nth-child(1) a:hover{
    color: var(--clr-orange);
}
.edit_delete > div:nth-child(2) a:hover{
    color: var(--clr-pink);
}



/* ~ & User space ------------------ */

.userSpace {
    background-color: #3b443d;
    width: 50%;
    height: 200px;
}


/* ~ Edit/delete btn------------------ */


.title_ref {
    display: none;
}


/* &---------------------------------- */
/* & LISTE FILMS PAGE --               */
/* & --------------------------------- */


.container-list-movie .text-colored {
    color : var(--clr-pink);    
}

.container-list-movie {
    /* background-color: #37354e; */
    width: 80%;
    /* height: 100vh; */
    margin : 1.7rem auto 0px auto;
    margin-top: 6rem;
    
    
}

.container-list-movie .searchBar {
    width: 100%;
    height: 5rem;
    background-color: var(--clr-grey-black);
    border-radius: 1rem;
}

.container-list-movie .list-movie {
    width: 95%;
    /* height: 100%; */
    /* background-color: #5c5b70; */
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.8rem;

}

.container-list-movie .movie-card{
    background-color: #201F2C;
    /* width: 100px; */
    height: 26rem;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    font-size: var(--fs-500);

}

.container-list-movie .movie-card .title{

    font-size: var(--fs-600);
   

}

/* -----------------------------HOVER EFFECT */

.container-list-movie .movie-card .poster{
    background-color: #7f7e86;
    width: 50%;
    height: 100%;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.container-list-movie .movie-card .poster::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, var(--clr-pink), var(--clr-orange));
    opacity: 0; 
    transition: ease-in-out 0.4s; 
    pointer-events: none; /* Désactive les interactions pointer sur le pseudo-élément */
}

.container-list-movie .movie-card .poster:hover::before {
    opacity: 0.7; 
}

/* ------------------------------------------- */

.container-list-movie .movie-card .poster::after {
    content: "\f144"; /* Code Unicode pour l'icône Font Awesome */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centre l'icône au milieu de l'image */
    font-family: 'Font Awesome 6.4.0', FontAwesome; /* Utilise la police Font Awesome */
    font-size: 3rem; 
    color: white; 
    opacity: 0;
    transition: ease-in-out 0.4s;
    pointer-events: none; /* Désactive les interactions pointer sur le pseudo-élément */
}

.container-list-movie .movie-card .poster:hover::after {
    opacity: 0.7; 
}

.container-list-movie .movie-card .poster img{
    object-fit: cover;
    width: 100%;
    
}

.container-list-movie .movie-card .info{
    /* background-color: #353447; */
    background-color: var(--clr-grey-light);
    width: 50%;
    height: 100%;
    display: flex;
    /* align-content: center; */
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    
}

.container-list-movie .movie-card .primary{
    width: 100%;

}

.container-list-movie .movie-card .secondary{
    width: 100%;

}

.container-list-movie  a {
    text-decoration: none;  
    color: var(--clr-white);
}


.container-list-movie .director a {  
    color : var(--clr-pink);
}

.container-list-movie .title a {
    color: var(--clr-white);
    transition: ease-in-out 0.5s;
    
}

.container-list-movie .title a:hover {
    color: var(--clr-pink);
    
}

.container-list-movie .director a:hover {
    color: var(--clr-orange);
}

.container-list-movie .title {
    font-size: 1.1rem;
    font-weight: 600;
   
}


/* NAV BAR */

/* ! MENU BURGER */

.bar {
    width: 25px;
    height: 3px;
    background-color: var(--clr-white); /* Couleur des barres du menu burger */
    margin: 4px 0; /* Espacement entre les barres */
    display: block;
}

.menu-burger {
    display: none; /* Cachez le menu burger par défaut */
    cursor: pointer;
}

@media (max-width: 1000px) { 
    .logo {
        width: 10em;
        height: 3em;
        /* background-color: red; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2em;
    } 

    .menu-burger {
        display: block;
    }

    .menu-burger.active .bar:nth-child(2){
        opacity: 0;
    }

    .menu-burger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        background-color: var(--clr-pink);
    }
    .menu-burger.active .bar:nth-child(3){
        transform: translateY(-6px) rotate(-45deg);
        background-color: var(--clr-pink);
    }

    .primary-navigation {
        position: fixed;
        left: -1000px;
        top: 5rem;
        gap: 0;
        flex-direction: column;
        background-color: var(--clr-grey-black);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: 0.3s;
        margin: auto;

    }
    .primary-navigation li {
        margin : 16px;
    }


    .primary-navigation.active {
        left: 0;
    } 

    .dropdown {
        position: relative;
        display: inline-block;
        margin: 1rem;
        color: var(--clr-pink);
        font-size: var(--fs-400);
        cursor: pointer;

    }

    .dropdown span {
        display: flex;
        align-items: center;
    }
}


@media (max-width: 800px) {
    
    .logo {
        width: 10em;
        height: 3em;
        /* background-color: red; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2em;
    } 

    .menu-burger {
        display: block;
    }

    .menu-burger.active .bar:nth-child(2){
        opacity: 0;
    }

    .menu-burger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .menu-burger.active .bar:nth-child(3){
        transform: translateY(-6px) rotate(-45deg);
    }

    .primary-navigation {
        position: fixed;
        left: -1000px;
        top: 5rem;
        gap: 0;
        flex-direction: column;
        background-color: var(--clr-grey-black);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: 0.3s;
        margin: auto;

    }
    .primary-navigation li {
        margin : 16px;
    }


    .primary-navigation.active {
        left: 0;
    } 

    .dropdown {
        position: relative;
        display: inline-block;
        margin: 1rem;
        color: var(--clr-pink);
        font-size: var(--fs-400);
        cursor: pointer;

    }

    .dropdown span {
        display: flex;
        align-items: center;
    }

}

/* PAGE FILM */

@media (max-width: 1200px) { 
    .container-list-movie .list-movie {
        width: 95%;
        margin: 3rem auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.8rem;
    }

    .list-person {
        width: 95%;
        margin: 3rem auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.8rem;
    }
}

@media (max-width: 800px) {
    
    .container-list-movie .list-movie {
        width: 95%;
        margin: 3rem auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1.8rem;
    }

    .list-person {
        width: 95%;
        margin: 3rem auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.8rem;
    }
    

}

