
/* ---------------------------------- */
/* Root                             */
/* ---------------------------------- */

:root {
    /* colors */

    /* font-sizes */
    --fs-big: 8rem;
    --fs-900: 2.5rem;
    --fs-800: 2.1rem;
    --fs-700: 1.8rem;
    --fs-600: 1.5rem; /* 24px */
    --fs-500: 1.24rem; /* 20px */
    --fs-400: 1rem; /* 17px */
    --fs-300: 0.9rem;
    --fs-200: 0.75rem;

    /* font-families */
    --ff-quickSand: 'Quicksand', sans-serif;
}



/* ---------------------------------- */
/* Reset                              */
/* ---------------------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}


input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

/* &---------------------------------- */
/* & GENRE /      --                   */
/* & --------------------------------- */


.container {
    width: 65%;
    height: 100%;
    /* background-color: #483dc0; */
    margin: 4rem auto 0px auto;
    /* display: flex;
    flex-direction: column; */
}

.container-genre .list {
    width: 100%;
    height: 100%;
    /* height: 22rem; */
    background-color: var(--clr-grey-light);
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-radius: 1rem;
    grid-gap: 1.8rem;
    padding: 2rem;
}

.container-genre h1 {
    font-weight: 500;
}

.container-genre .card {
    border-radius: 1rem;
    /* background-color: brown; */
    height: 23rem;

}

.container-genre figure {
    border-radius: 1rem;
    overflow: hidden;
    
}


.container-genre img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    
}

.container-genre .info {
    width: 100%;
    padding: 0.5rem 0 0 0;
    /* background-color: #252c23; */
}

.container-genre .info p:nth-child(1) a {
    text-decoration: none;
    color: var(--clr-white);
    font-weight: 500;
    font-size: var(--fs-400);
}

.container-genre .info p:nth-child(2) a {
    text-decoration: none;
    color: rgba(218, 216, 216, 0.7);
    /* font-weight: 500; */
    font-size: var(--fs-400);
}

.container-genre .info p a:hover {
    color: var(--clr-pink);

}


/* -----------------------------HOVER EFFECT */

.container-genre .poster {
    height: 80%;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.container-genre .poster::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, var(--clr-pink), var(--clr-orange));
    opacity: 0; 
    transition: ease-in-out 0.4s; 
    pointer-events: none; /* Désactive les interactions pointer sur le pseudo-élément */
    
}

.container-genre .poster:hover::before {
    opacity: 0.7; 
}


/* ------------------------------------------- */

.container-genre .poster::after {
    content: "\f144"; /* Code Unicode pour l'icône Font Awesome */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centre l'icône au milieu de l'image */
    font-family: 'Font Awesome 6.4.0', FontAwesome; /* Utilise la police Font Awesome */
    font-size: 3rem; 
    color: white; 
    opacity: 0;
    transition: ease-in-out 0.4s;
    pointer-events: none; /* Désactive les interactions pointer sur le pseudo-élément */
}

.container-genre .poster:hover::after {
    opacity: 0.7; 
}




/* &---------------------------------- */
/* & ACTOR / REAL / MOVIE    --        */
/* & --------------------------------- */

.container_detail {
    width: 65%;
    height: 100vh;
    margin : 0rem auto 0px auto;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
}

.container_detail #name  {
    font-size: var(--fs-900);
    font-weight: 500;

}

.detail {
    width : 85%;
    margin-top: 1.5rem;
    display: grid;
    grid-template-areas: 
    "img info "
    "img info "
    "description description ";
    grid-template-rows: 75% 1fr 25%;
    grid-template-columns: 30% 1fr;
}

.detail .image{
    grid-area: img;
    background-color: #74747c;
    border-radius: 1.4rem;
    overflow: hidden;
}

.detail figure{
    width: 20rem;
    height: 30rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}

.detail figure img{
    object-fit: cover;
    height: 100%;
    width: 100%;
} 

.detail .info{
    grid-area: info;
    padding-left: 1.8rem;
}

.container_detail .description {
    grid-area: description;
    margin-top: 0.8rem;   
}

.container_detail .description li {
    list-style-type: none;
    font-size: var(--fs-300);
    line-height: 1.5rem;
    font-size: var(--fs-400);
}

.container_detail  .description ul {
    list-style-type: none;
}

.listing ul {
    list-style-type: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--fs-500);
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;
    column-gap: 4rem;
}

/* ~ ACTOR------------------------- */


.container_actor .listing li {
    cursor: pointer;
}

.container_actor .listing li:hover {
    color: var(--clr-pink)
}

.container_actor .listing li.active {
    color: var(--clr-pink);
    border-bottom: 2px solid var(--clr-pink);
    padding-bottom: 0.5rem;
}


/* ~ ACTOR SWITCH ------------------------- */

/* FILM */
.list-role,
.list-filmo {
  display: none;
}

.container_actor .info {
    width: 26rem;

}

.list-filmo {
    /* background-color: #211f2c; */
    /* width: 60%; */
    height: 100%;
    margin-top: 4rem;
    padding-bottom: 0.8rem;   
}


.list-filmo .movie-detail {
    /* background-color: #b98d5a; */
    /* width: 60%; */
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-grey-light);
    padding-bottom: 0.8rem;
    margin-bottom: 1.2rem;

}

.list-filmo .movie-detail  a {
    text-decoration: none;
    color: var(--clr-white);
    font-size: var(--fs-400);
    
}

.list-filmo .movie-detail  a:hover {
    color: var(--clr-pink);
    
}

/* ROLE */

.list-role {
    /* background-color: #211f2c; */
    width: 100%;
    height: 100%;
    margin-top: 4rem;
}


.list-role .movie-detail {
    /* background-color: #b98d5a; */
    /* width: 100%;
    height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-grey-light);
    padding-bottom: 0.8rem;
    margin-bottom: 1.2rem;
    overflow: hidden;
}


.list-role .movie-detail  a {
    text-decoration: none;
    color: var(--clr-white);
    font-size: var(--fs-400); 
}

.list-role .movie-detail  a:hover {
    color: var(--clr-pink);
    
}

.list-role .text-colored a {
    color: var(--clr-pink);

}

.list-role .text-colored a:hover {
    color: var(--clr-orange);

}


/* ~ REAL---------------------------------- */

.list-filmo_real {
    width: 100%;
    height: 100%;
    margin-top: 4rem;
    padding-bottom: 0.8rem;  
}

.list-filmo_real .movie-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-grey-light);
    padding-bottom: 0.8rem;
    margin-bottom: 1.2rem;
}


.movie-detail p {
    color: var(--clr-white);
    font-size: var(--fs-400);
}

.container_director .movie-detail  a {
    text-decoration: none;
    color: var(--clr-white);
    font-size: var(--fs-400);
}

.container_director .movie-detail  a:hover {
    color: var(--clr-pink);
}

.container_director .info {
    width: 26rem;

}



/* ~ MOVIE -------------------------------- */

.container_movie .detail {
    grid-template-areas: 
    "img info "
    "img crew "
    "storyline storyline ";
    line-height: 1.5rem;
}

.container_movie .info{
    font-size: var(--fs-400);
    position: relative;
    overflow: hidden;
}

.container_movie .info li{
    list-style-type: none;
}

.container_movie .crew {
    width: 100%;
    grid-area: crew;
    margin-top: 1.8rem;
    position: absolute;
    bottom: 0;
}

.container_movie .crew li a {
    text-decoration: none;
    color: var(--clr-pink);
}

.container_movie .crew li a:hover {
    color: var(--clr-orange);
}

.container_movie .description a {
    color: var(--clr-pink);
    text-decoration: none;
}

.container_movie a:hover {
    color: var(--clr-orange);
}

.container_movie .storyline {
    grid-area: storyline;
    margin-top: 1.5rem;  
}

.storyline textarea {
    background-color:transparent;
    width: 80%;
    height: 80%;
    border: none;
    color: var(--clr-white);
    font-size: var(--fs-300);
    resize: none;
    margin-top: 0.2rem;
    padding: 0 0.8rem  0 0;
    cursor : default;
}

.container_movie .storyline p:nth-child(2) {
    font-size: var(--fs-200);
    padding-top: 0.8rem;
}


textarea::-webkit-scrollbar {
    width: 0.5em;
}

textarea::-webkit-scrollbar-track {
    background-color: var(--clr-grey-black);
    border-radius: 2rem;
}

textarea::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--clr-pink), var(--clr-orange));
    border-radius: 2rem;
}

#add-rating-button {
    cursor: pointer;
    font-size: var(--fs-400);
    color: var(--clr-orange);
}

.popUpRating {
    width: 10rem;
    /* height: 3rem; */
    border-radius: 10px;
    overflow: hidden;
    padding: 0.6rem;
   
}

.popUpRating form {
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.popUpRating div {
    /* background-color: blue; */
    display: flex;
    column-gap: 1rem;
    align-items: center
}

.popUpRating #submitForm {
    background: linear-gradient(to right, var(--clr-pink), var(--clr-orange));
    color: var(--clr-white);
    font-weight: 500;
    padding: 8px 35px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-transform: uppercase;
    transition: ease-in-out 0.2s;
    margin-top: 1rem;
}

.popUpRating #submitForm:hover {
    transform: scale(1.1);
}


.popUpRating input {
    background-color: var(--clr-grey-medium);
    border: none;
    color: var(--clr-white);
    border-bottom: 1px solid var(--clr-white);
}

/* ~ MOVIE REVIEW ------------------------- */

.container_movie .review {
    /* background-color: var(--clr-grey-light); */
    width: 70%;
    /* height: 150px; */
    
}

.container_movie .rate-average {
    /* background-color: grey; */
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    margin-bottom: 1rem;
    width: 100%;
    /* height: 150px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding : 1rem 0;
}

#add-rating-btn:hover {
   transition: ease 0.3s;
} 


#add-rating-btn:hover {
    color: var(--clr-pink);
} 


.rate-average .star_filled{
    color: var(--clr-pink);
}

.rate-average .rating {
    display: flex;
    column-gap: 0.5rem;
}



.container_movie .rate {
    /* background-color: rgb(155, 102, 102); */
    /* width: 100%; */
    /* height: 150px; */
    display: flex;
    align-items: center
   
}

/* .movie-review {
    display: none;
} */


.container_movie .review-text {
    background-color: var(--clr-grey-light);
    padding : 1rem 1.5rem 1.5rem 1.5rem;
    width: 100%;
    /* height : 150px; */
    margin-top: 1rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: relative;
    margin-bottom: 1rem;
    
}

.container_movie .review-text:before {
    /* clip-path: polygon(0 0,50% 50%,100% 0); */
    content: "";
    display: block;
    position: absolute;
    background-color: var(--clr-grey-light);
    width: 22px;
    height: 22px;
    transform: rotate(45deg);
    left: 2rem;
    bottom: -0.7rem;
    
}

.container_movie .review-text p:first-child {
   text-align: right;
}

.container_movie .review-text p:nth-child(2) {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.review-top {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    border-left: 3px solid var(--clr-pink);
    padding : 0.5rem 0.5rem 0.5rem 1rem;
}

.review-top .left {
    display: flex;
    column-gap: 0.5rem;
}

.review-top .right {
    display: flex;
    column-gap: 0.5rem;
}

.review-top i {
    cursor: pointer;
}

#reviews-btn {
    cursor: pointer;
    margin-left: 0.5rem ;
}

#reviews-btn:hover,
.review-top i:hover
 {
    color : var(--clr-orange);
}
.movie-review {
    margin-bottom: 3rem;
}

.movie-review .edit_delete {
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    column-gap: 0.6rem; 
} 

.movie-review .edit_delete i {
    cursor: pointer;
} 

.movie-review .edit_delete i:hover {
    color: var(--clr-pink);
} 

.likes {
    /* background-color: red; */
    /* width: 100%; */
    position: absolute;
    bottom: 1.3rem;
    display: flex;
    
   
}

.likes i {
 cursor: pointer;
}

.movie-review .number {

    padding-right: 1rem;
}
.likes button {
    background-color: transparent;
    border: none;
}

.likes i {
    margin-right: 0.3rem;
    transition: ease-in-out 0.1s;
}

/* .likes .fa-heart{
    color : var(--clr-pink);
} */

/* .likes .fa-heart-crack{
    color : var(--clr-orange);
} */


.fa-heart-click:hover {
    transform: scale(1.2);
}


/* ~ REVIEW POPUP ------------------------- */
#reviewClose-btn,
#add-rating-btn,
#ratingClose-btn {
    cursor: pointer;
}


.addReview-popUp {
    background-color: var(--clr-grey-black);
    width: 550px;
    /* height: 250px; */
    position: absolute;
    top: 60%;
    right: 45%;
    border-radius: 0.5rem;
    border-top: 1px solid var(--clr-pink);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.reviewplace {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviewplace p:nth-child(1) {
    right: 1rem;
    top: 0.8rem;
    position: absolute;
}

.reviewplace #review_title {
    background-color: transparent;
    border: none;
    margin-bottom: 1rem;
    color: var(--clr-white);
    border-bottom: 1px solid var(--clr-white);
}



.reviewplace p:nth-child(2) {
    background: linear-gradient(to right, var(--clr-pink), var(--clr-orange));
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -3rem;
}

.reviewplace p:nth-child(2)::after {
    content: "\f5ad";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 3em;
    line-height: 50px;
    color: var(--clr-white);
}


.reviewplace p:nth-child(3) {
    font-weight: 600;
    padding-bottom: 1rem;
    font-size: var(--fs-500);
}

.reviewplace p:nth-child(4) {
    padding-bottom: 1rem;
    font-size: var(--fs-500);
}


.reviewplace textarea{
    width: 25rem;
    height: 7rem;
    background-color: var(--clr-grey-medium);
    resize: none;
    margin-bottom: 1rem;
}

.stars-rating {
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}

.star::before {
    content: '\2605'; /* Étoile vide (U+2605) */
    color: gray;
}

.star.active::before {
    content: '\2605'; /* Étoile pleine (U+2605) */
    color: gold;
}


/* ~ RATE POPUP ------------------------- */

.addRating-popUp {
    background-color: var(--clr-grey-black);
    width: 550px;
    /* height: 250px; */
    position: absolute;
    top: 60%;
    right: 45%;
    border-radius: 0.5rem;
    border-top: 1px solid var(--clr-pink);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}



.ratingPlace {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ratingPlace p:nth-child(1) {
    right: 1rem;
    top: 0.8rem;
    position: absolute;
}


.ratingPlace p:nth-child(2) {
    /* background: linear-gradient(to right, var(--clr-pink), var(--clr-orange)); */
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -2.9rem;
}

.ratingPlace p:nth-child(2)::after {
    content: "\f005";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 4.6em;
    color: var(--clr-pink);
}


.ratingPlace p:nth-child(3) {
    font-weight: 600;
    padding-bottom: 1rem;
    font-size: var(--fs-500);
}

.ratingPlace p:nth-child(4) {
    padding-bottom: 1rem;
    font-size: var(--fs-500);
}


/* ~ like animation ----------------------- */

/* <div class="test-like">
<i class="fa-solid fa-heart"></i>
<span></span>              
</div> */

.test-like {
    background-color: var(--clr-white);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative
}

.test-like i {
    color: var(--clr-pink);
}

.test-like span {
    position: absolute;
    bottom:70px;
    left:0;
    right:0;
    visibility: hidden;
    transition:.6s;
    z-index:-2;
    font-size:2px;
    color:transparent;
    font-weight:400;
  }


/* ~ MEDIA QUERY ------------------------- */


@media (max-width: 1200px) { 
  
    .detail {
        width: 100%;
        margin-top: 1.5rem;
        display: grid;
        grid-template-areas:
            "img "
            "description"
            "info  "
            ;
        grid-template-rows: 50% 1fr 30%;
        grid-template-columns: 100% 1fr;
    }

    .detail .info {
        grid-area: info;
        padding-left: 0;
    }

    .container_movie .detail {
        grid-template-areas:
            "img "
            "info"
            "crew"
            "storyline ";
        line-height: 1.5rem;
    }

    .container_movie .detail {
        width: 100%;
        margin-top: 1.5rem;
        display: grid;
        /* grid-template-areas:
            "img "
            "description "
            "info "; */
        grid-template-rows: 50% 1fr 0%;
        grid-template-columns: 41% 1fr;
    }
 
}

@media (max-width: 800px) {
    
    .detail {
        width: 100%;
        margin-top: 1.5rem;
        display: grid;
        grid-template-areas:
            "img "
            "description"
            "info  "
            ;
        grid-template-rows: 50% 1fr 30%;
        grid-template-columns: 100% 1fr;
    }

    .detail .info {
        grid-area: info;
        padding-left: 0;
    }

    .container_movie .detail {
        grid-template-areas:
            "img "
            "info"
            "crew"
            "storyline ";
        line-height: 1.5rem;
    }

    .container_movie .detail {
        width: 100%;
        margin-top: 1.5rem;
        display: grid;
        /* grid-template-areas:
            "img "
            "description "
            "info "; */
        grid-template-rows: 45% 1fr 0%;
        grid-template-columns: 60% 1fr;
    }


}


/*?------------------------------- TEST */

.container01 {
/* background-color: grey; */
width: 600px;
height: 300px;
display: flex;
position: relative;
}

.container01 .un {
    background-color: rgb(73, 67, 68);
    width: 580px;
    height: 280px;
}

.container01 .deux {
    background-color: blue;
    width: 580px;
    height: 280px;
    position: absolute;
    /* z-index: -1; */
}

