/* ---------------------------------- */
/* Root                             */
/* ---------------------------------- */

:root {
    /* colors */
    --clr-white : #dad8d8;
    --clr-grey-light : #4c4a60;
    --clr-grey-medium : #282737;
    --clr-grey-dark: #201F2C;
    --clr-grey-black: #18181E;
    --clr-pink: #E03058;
    --clr-orange : #EF832C;

    /* font-sizes */
    --fs-big: 8rem;
    --fs-900: 2.5rem;
    --fs-800: 2.1rem;
    --fs-700: 1.8rem;
    --fs-600: 1.5rem; /* 24px */
    --fs-500: 1.24rem; /* 20px */
    --fs-400: 1rem; /* 17px */
    --fs-300: 0.9rem;
    --fs-200: 0.75rem;

    /* font-families */
    --ff-quickSand: 'Quicksand', sans-serif;
}

@media (min-width: 35em) { /*560px*/
}

@media (min-width: 45em) { /*720px*/
}

/* ---------------------------------- */
/* Reset                              */
/* ---------------------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}



/* &---------------------------------- */
/* & FORMS --                          */
/* & --------------------------------- */

.wrapper-form {
    /* background-color: red; */
    width: 100%;
    height: 100vh;
}

.container_form {
    /* background-color: rgb(195, 193, 209); */
    width: 70%;
    /* height: 100%; */
    margin: auto;
    margin-top: 5rem;
    display: flex;
    /* border-radius: 30px;
    overflow: hidden; */
}

.left_section {
    width: 80%;
    /* background-color: red; */
    
}

.left_section h1 {
    width: 100%;
    margin: auto;
    /* background-color: rgb(184, 163, 163); */
    margin-top: 8rem;
    font-size: 3rem;

}

.text-colored {
    color : var(--clr-pink)
}


.form_section {
    background-color: #302E40;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--clr-pink);
    

}

.form_section h2 {
    font-size: var(--fs-800);
    margin-top: 2rem;
}

.form_section h3 {
    font-size: var(--fs-600);
    color : var(--clr-pink);
  
}

.form_info {
    /* background-color: green; */
    width: 100%;
    padding: 2rem;
    
}



.form_info .info_input {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: #282737; */
    padding :  2rem 2rem 0 2rem;
    /* width: 40rem; */
    font-size: var(--fs-400);

    
}

.btn-submit {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    /* margin-top: 2rem; */


}


.form-input input {
    background-color: transparent;
    border : none;
    color : var(--clr-white);
    border-bottom: 1px solid var(--clr-grey-light);
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    
}

input:focus, textarea:focus, select:focus {
    outline: none;
}


.btn-submit input {
    background: linear-gradient(to right, var(--clr-pink), var(--clr-orange));
    color: var(--clr-white); 
    font-weight: 500;
    padding: 8px 35px; 
    border: none; 
    border-radius: 25px; 
    cursor: pointer; 
    text-transform: uppercase;
    transition: ease-in-out 0.2s;
}

.btn-submit input:hover {
    transform: scale(1.1);
}


::placeholder {
    color : var(--clr-white);
}

.input-images {
    margin: auto;
    padding: 2rem ;
}
.input_image {
    margin: 1rem 2rem 1rem 2rem;

}

#autorised-format {
    color: #b5b4bb;
    font-size: var(--fs-300);
}

textarea {
    background-color: transparent; 
    border: none;
    padding: 10px; 
    color: var(--clr-white);
    resize: vertical; 
    width: 100%; 
    min-height: 5rem;
}

.form-input-synopsys {
    margin: 2rem 2rem 0 2rem;
    /* background-color: #E03058; */
    border-bottom: 1px solid var(--clr-grey-light);;
    background-color: var(--clr-grey-medium)

}

/* & CASTING ------------------------------------------ */

.info_input_cast {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    /* align-items: center; */
    /* background-color: #E03058; */
    margin-bottom: 2rem;
    padding: 2rem;
}

.info_input_cast select {
    background-color: #302E40;
    border: 1px solid #302E40;
    color: var(--clr-white);
    /* border-radius: 2rem; */
    border-bottom: 1px solid var(--clr-grey-light);


    width: 60%;
}

/* ~ MEDIA QUERY ------------------------- */


@media (max-width: 1200px) { 
    .container_form {
        /* background-color: rgb(195, 193, 209); */
        width: 70%;
        /* height: 100%; */
        margin: auto;
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
    }

    .left_section h1 {
        width: 100%;
        margin: auto;
        /* background-color: rgb(184, 163, 163); */
        margin-bottom: 1rem;
        font-size: 3rem;
        text-align: center;
    }

 
}

@media (max-width: 800px) {
    .container_form {
        /* background-color: rgb(195, 193, 209); */
        width: 70%;
        /* height: 100%; */
        margin: auto;
        margin-top: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .wrapper-form {
        display: flex;
        /* align-items: center; */
        justify-content: center;
    }
 
    .container_form {
        /* background-color: rgb(195, 193, 209); */
        width: 70%;
        /* height: 100%; */
        margin: 1rem;
        /* margin-top: 5rem; */
        display: flex;
        flex-direction: column;
    }

    .left_section h1 {
        width: 100%;
        margin: auto;
        /* background-color: rgb(184, 163, 163); */
        margin-bottom: 1rem;
        padding-top : 1rem;
        font-size: 1.8rem;
        text-align: center;
    }

    .form_section h2 {
        font-size: var(--fs-800);
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .form_section {
        background-color: #302E40;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}